DefaultType "text/html; charset=ISO-2022-JP"
AddType "text/html; charset=ISO-2022-JP" html
AddType "text/plain; charset=ISO-2022-JP" txt

RewriteEngine on
RewriteCond %{REQUEST_URI} /CVS/ [NC]
RewriteRule . - [F]
RewriteRule ^([0-9][0-9]*)$ x/$1

<Files "x">
  SetHandler cgi-script
</Files>

<FilesMatch "^NMZ\.">
  Order deny,allow
  Deny from all
</FilesMatch>
