Options +Multiviews
AddHandler type-map var
AddLanguage ja .ja
AddLanguage en .en
LanguagePriority en ja

<Files index-ja.html>
  ForceType "text/html; charset=ISO-2022-JP"
</Files>

<Files CVS>
  Order deny,allow
  Deny from all
</Files>

Redirect w3m_el-1.3.2.tar.gz http://emacs-w3m.namazu.org/emacs-w3m-1.3.2.tar.gz
Redirect w3m_el-1.3.3.tar.gz http://emacs-w3m.namazu.org/emacs-w3m-1.3.3.tar.gz
