Options +ExecCGI

AddType "text/plain" texi

RewriteEngine on
RewriteCond %{REQUEST_URI} /CVS/ [NC]
RewriteRule . - [F]

<Files emacs-w3m-ja*.html>
  ForceType "text/html; charset=euc-jp"
</Files>

<Files emacs-w3m-ja.texi>
  ForceType "text/plain; charset=euc-jp"
</Files>

<Files goto.cgi>
  SetHandler cgi-script
</Files>
