Options +Multiviews
AddHandler type-map var
AddLanguage ja .ja
AddLanguage en .en
LanguagePriority en ja

AddType "text/html" html
AddType "text/plain" texi

<Files emacs-w3m-ja*.html>
  ForceType "text/html; charset=euc-jp"
</Files>

<Files emacs-w3m-ja.texi>
  ForceType "text/plain; charset=euc-jp"
</Files>
